{% extends 'base.html.twig' %}

{% block title %}Suppression Lit{% endblock %}

{% block body %}


<div class="container-fluid">
    <h1>Êtes-vous sûr de supprimer ce lit?</h1>
    <button  onclick="window.location.href = '{{ route }}';"  type="button" class="btn btn-secondary" > Oui </button>
    {% if role=='ROLE_ADMIN' %}
        <button  onclick="window.location.href = '/accueil/administrateur';" type="button" class="btn btn-secondary" > Non </button>
    {% else %}
        <button  onclick="window.location.href = '/accueil/infirmier';" type="button" class="btn btn-secondary" > Non </button>
    {% endif %}
</div>
{% endblock %}
