{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md">
            <button type="button" class="btn btn-secondary">Retour</button>
        </div>
        <div class="col-md align-self-center"><h2>Acceuil</h2></div>
        <div class="col-md">
        <p>rien pour l'instant </p>
        </div>
    </div>
</div>
<div class="container">
    <p><h4> Listes des patients </h4></p>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">

        <table class="table table-bordered table-striped mb-0">
            <thead>
            <tr>
                <th scope="col">Nom du patient</th>
                <th scope="col"><p>Options</p></th>
                <th scope="col">
                    <div class="right-text-pad">
                        <button type="button" class="btn btn-secondary">Ajouter</button>
                    </div>
                </th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Mark</th>

                <td>
                    <button type="button" class="btn btn-secondary">Modifier</button>
                    <button type="button" class="btn btn-secondary">Supprimer</button>
                </td>

            </tr>
            <tr>
                <th scope="row">Gaetan</th>

                <td>
                    <button type="button" class="btn btn-secondary">Modifier</button>
                    <button type="button" class="btn btn-secondary">Supprimer</button>
                </td>

            </tr>
            <tr>
                <th scope="row">Rémi</th>

                <td>
                    <button type="button" class="btn btn-secondary">Modifier</button>
                    <button type="button" class="btn btn-secondary">Supprimer</button>
                </td>

            </tr>
            <tr>
                <th scope="row">Aya</th>

                <td>
                    <button type="button" class="btn btn-secondary">Modifier</button>
                    <button type="button" class="btn btn-secondary">Supprimer</button>
                </td>

            </tr>
            <tr>
                <th scope="row">Mia</th>

                <td>
                    <button type="button" class="btn btn-secondary">Modifier</button>
                    <button type="button" class="btn btn-secondary">Supprimer</button>
                </td>

            </tr>
            <tr>
                <th scope="row">Sami</th>

                <td>
                    <button type="button" class="btn btn-secondary">Modifier</button>
                    <button type="button" class="btn btn-secondary">Supprimer</button>
                </td>

            </tr>
            </tbody>
        </table>

    </div>

</div>

    <div class="container">
        <p><h4> Listes des services</h4></p>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">

            <table class="table table-bordered table-striped mb-0">
                <thead>
                <tr>
                    <th scope="col">Service</th>
                    <th scope="col"><p>Options</p></th>
                    <th scope="col">
                        <div class="right-text-pad">
                            <button type="button" class="btn btn-secondary">Ajouter</button>
                        </div>
                    </th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Mark</th>

                    <td>
                        <button type="button" class="btn btn-secondary">Renommer</button>
                        <button type="button" class="btn btn-secondary">Supprimer</button>
                    </td>

                </tr>
                <tr>
                    <th scope="row">Gaetan</th>

                    <td>
                        <button type="button" class="btn btn-secondary">Renommer</button>
                        <button type="button" class="btn btn-secondary">Supprimer</button>
                    </td>

                </tr>
                <tr>
                    <th scope="row">Rémi</th>

                    <td>
                        <button type="button" class="btn btn-secondary">Renommer</button>
                        <button type="button" class="btn btn-secondary">Supprimer</button>
                    </td>

                </tr>
                <tr>
                    <th scope="row">Aya</th>

                    <td>
                        <button type="button" class="btn btn-secondary">Renommer</button>
                        <button type="button" class="btn btn-secondary">Supprimer</button>
                    </td>

                </tr>
                <tr>
                    <th scope="row">Mia</th>

                    <td>
                        <button type="button" class="btn btn-secondary">Renommer</button>
                        <button type="button" class="btn btn-secondary">Supprimer</button>
                    </td>

                </tr>
                <tr>
                    <th scope="row">Sami</th>

                    <td>
                        <button type="button" class="btn btn-secondary">Renommer</button>
                        <button type="button" class="btn btn-secondary">Supprimer</button>
                    </td>

                </tr>
                </tbody>
            </table>

        </div>

    </div>

    <div class="container">
        <p><h4> Listes des lits </h4></p>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">

            <table class="table table-bordered table-striped mb-0">
                <thead>
                <tr>
                    <th scope="col">Lit</th>
                    <th scope="col"><p>Options</p></th>
                    <th scope="col">
                        <div class="right-text-pad">
                            <button type="button" class="btn btn-secondary">Ajouter</button>
                        </div>
                    </th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Mark</th>

                    <td>
                        <button type="button" class="btn btn-secondary">Modifier</button>
                        <button type="button" class="btn btn-secondary">Etat</button>
                    </td>

                </tr>
                <tr>
                    <th scope="row">Gaetan</th>

                    <td>
                        <button type="button" class="btn btn-secondary">Modifier</button>
                        <button type="button" class="btn btn-secondary">Etat</button>
                    </td>

                </tr>
                <tr>
                    <th scope="row">Rémi</th>

                    <td>
                        <button type="button" class="btn btn-secondary">Modifier</button>
                        <button type="button" class="btn btn-secondary">Etat</button>
                    </td>

                </tr>
                <tr>
                    <th scope="row">Aya</th>

                    <td>
                        <button type="button" class="btn btn-secondary">Modifier</button>
                        <button type="button" class="btn btn-secondary">Etat</button>
                    </td>

                </tr>
                <tr>
                    <th scope="row">Mia</th>

                    <td>
                        <button type="button" class="btn btn-secondary">Modifier</button>
                        <button type="button" class="btn btn-secondary">Etat</button>
                    </td>

                </tr>
                <tr>
                    <th scope="row">Sami</th>

                    <td>
                        <button type="button" class="btn btn-secondary">Modifier</button>
                        <button type="button" class="btn btn-secondary">Etat</button>
                    </td>

                </tr>
                </tbody>
            </table>

        </div>

    </div>





{% endblock %}
