{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md">
            <button type="button" class="btn btn-secondary">Retour</button>
        </div>
        <div class="col-md align-self-center"><h2>Acceuil</h2></div>


        <div class="col-md">
            <p class="text-right"></p>

        </div>
    </div>


</div>
{% endblock %}
