{% extends 'base.html.twig' %}

{% block title %}Login Page{% endblock %}

{% block body %}
<div class="container">
    <h1 class="display-6">LONDON</h1>

    {{ form_start(formLogin) }}

    {{ form_widget(formLogin) }}

    <button class="btn btn-secondary" type="submit" >Connexion</button>
    {{ form_end(formLogin) }}


</div>
{% endblock %}
