{% extends 'base.html.twig' %}

{% block title %}Suppression Admin{% endblock %}

{% block body %}
<style>
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Êtes-vous sûr de supprimer cet administrateur?</h1>
    <button  onclick="window.location.href = '{{ route }}';" type="button"  class="btn btn-secondary"> Oui </button>

    <button  onclick="window.location.href = '/accueil/administrateur';" type="button" class="btn btn-secondary" > Non </button>

</div>
{% endblock %}
