{% extends 'base.html.twig' %}

{% block title %}Suppression Admin{% endblock %}

{% block body %}

<div class="container">
    <h1>Êtes-vous sûr de supprimer cet administrateur?</h1>
    <button  onclick="window.location.href = '{{ route }}';" type="button"  class="btn btn-secondary"> Oui </button>

    <button  onclick="window.location.href = '/accueil/administrateur';" type="button" class="btn btn-secondary" > Non </button>

</div>
{% endblock %}
