{% extends 'base.html.twig' %}

{% block title %}Ajout Patient{% endblock %}

{% block body %}


<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-md-4 ">
                {% if role=='ROLE_ADMIN' %}
                <button onclick="window.location.href = '/accueil/administrateur';" type="button" class="btn btn-secondary">Retour</button>
                {% else %}
                <button onclick="window.location.href = '/accueil/infirmier';" type="button" class="btn btn-secondary">Retour</button>
                {% endif %}
            </div>
            <div class="col-md-4 align-self-center"><h2>Ajout d'un patient</h2></div>

        </div>
    </div>

        {{ form_start(formPatient) }}

        {{ form_widget(formPatient) }}

        <button  class="btn btn-secondary" type="submit" >Ajouter</button>

        {{ form_end(formPatient) }}
</div>
{% endblock %}
