{% extends 'base.html.twig' %}

{% block title %}Ajout lit{% endblock %}

{% block body %}
<style>
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Ajout d'un lit au patient</h1>

     {{ form_start(formLit) }}

    {{ form_widget(formLit) }}

    <button class="btn btn-secondary" type="submit" >Ajouter</button>

    {{ form_end(formLit) }}
</div>
{% endblock %}
