{% extends 'base.html.twig' %}

{% block title %}Suppression Infirmier{% endblock %}

{% block body %}

<div class="container-fluid">
    <h1>Êtes-vous sûr de supprimer cet infirmier?</h1>
    <button  onclick="window.location.href = '{{ route }}';" type="button" class="btn btn-secondary" > Oui </button>
    <button  onclick="window.location.href = '/accueil/administrateur';" type="button" class="btn btn-secondary" > Non </button>
</div>
{% endblock %}
