{% extends 'base.html.twig' %}

{% block title %}Hello DeplacementServiceController!{% endblock %}

{% block body %}
<style>

</style>

<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-md-4 ">
                <button onclick="window.location.href = '/accueil/infirmier';" type="button" class="btn btn-secondary">Retour</button>
            </div>
            <div class="col-md-4 align-self-center"><h2>Ajout d'un lit</h2></div>

        </div>
    </div>
    {{ form_start(formService) }}

    {{ form_widget(formService) }}

    <button class="btn btn-secondary" type="submit" >Déplacer</button>

    {{ form_end(formService) }}
</div>
{% endblock %}
